/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    height: 1900px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: red;
    height: 75px;
}

h2 {
    font-size: 24px;
    text-align: center;
    border-bottom: 10px black;

}

header, main, footer {
    margin: 5.25rem auto;
    padding: .50rem;
    color: green;
    text-align: center;
}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: silver;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: 18px;
    
}