/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    height: 1900px;
    
}

h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    height: 75px;
}

h2 {
    font-size: 24px;
    text-align: center;
    border-bottom: 10px black;

}


header, main, footer {
    margin: auto;
    padding: .50rem;
    color: blue;
    font-weight: bold;
    
}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: silver;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}
ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: circle;
}
footer {
    font-size: 18px;
    
}