/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 
@media screen and (max-width: 700px) {
        #weather {
        visibility:hidden;
        }
    }
@media screen and (max-width: 600px) {
        .btn-group a:not(:first-child) {display: none;}
        .btn-group a.icon {
          float: right;
          display: block;
        }
      }
  
.btn-group{
    background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.btn-group ul{
    margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

body { 
    font-size: 16px; 
    line-height: 16px;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 1900px;
    
}

h1 {
    font-size: 32px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 75px;
    
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
    color: rgb(7, 7, 26);
    font-style: oblique;
}

header, main, footer {
    margin: auto;
    padding: 3rem;
    color: blue;
    font-weight: bold;
    
}

main figure.stupid {
    width: 70%;
    
}

main figure.stupid figcaption{
    text-align: center;
}

main figure.stupid img{width: 100%;}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: silver;
    
}


header img {
    width: 250px;
    height: auto;
    float: center;
    padding-bottom: 1cm;

}

h2{
    padding-top: 1cm;
}
p {
    text-align: right;
    vertical-align: text-bottom;
    font-size: 20pt;
}

.btn-group {
    background-color: aqua;
    overflow: hidden;
}

.btn-group a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 5px;

}

.btn-group a:hover{
    background-color: goldenrod;
    color: black;
}
.active{
    background-color: blueviolet;
    color: white;
}

.btn-group .icon{
    display: none;
}
footer {
    font-size: 20px;
    
}

