/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 
@media screen and (max-width: 700px) {
        #weather {
        visibility:hidden;
        }
        
    body {
      background-color: blue;
      
    }
  }

body { 
    font-size: 16px; 
    line-height: 16px;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 1900px;
    
}

h1 {
    font-size: 32px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 75px;
    
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
    color: rgb(7, 7, 26);
    font-style: oblique;

}

nav{
    align-self: auto;
}

header, main, footer {
    margin: auto;
    padding: 3rem;
    color: blue;
    font-weight: bold;
    
}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: silver;
    
}

header img {
    width: 250px;
    height: auto;
    float: center;
    padding-bottom: 1cm;

}

h2{
    padding-top: 1cm;
}
p {
    text-align: right;
    vertical-align: text-bottom;
    font-size: 20pt;
}

li a{
    display: block;
    color: grey;
    text-align: center;
    
}

li a:hover{
    background-color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

footer {
    font-size: 20px;
    
}