@media (max-width: 768px) {
    /* rules for tablet */
  }

 @media (max-width: 480px) {
    /* iPhone, Android rules here */
    .grid{
        display: grid;
        grid-template-columns: 100px auto 
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu{
    grid-column-end: span 2;
    background-color: azure;
}
.logo{
    background-color: azure;
}
.ammentities{
    grid-row-start: 2;
    background-color: yellow;
    grid-row-end: 4;
}
.Description{
    grid-column-start: 2;
}
.Map{
    grid-column-start: 3;
    grid-row-start: 3;
}
.Image{
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: grey;
}
.Footer{
    grid-column-start: span 3;
    text-align: center;
}
.contact{
    grid-column-end: span 3;
    text-align: center;
}
body{
    height:650px;
}

