.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu{
    grid-column-end: span 2;
}

.temples.ammentities{
    grid-row-start: 2;
}

.temples.Image{
   grid-column-start: 3;
}
.temples.Footer{
    grid-row-start: 3;
}
