*{
    font-family: 'Francois One', sans-serif;
}
@media (max-width: 450px) {
    /* rules for tablet */
    .grid{
        display: grid;
        grid-template-columns: auto 
    }
    .Image{
        width: 100%;
        height: auto;
    }
    *{
        max-width: 450px;
    }

    
  }
 @media (min-width:750px) {   
/*Desktop View*/
.grid{
    display: grid;
    grid-template-columns: 250px 400px 1fr 250px;
    padding: 5px;
    grid-auto-rows: auto;
}
.menu{
    grid-column-end: 2;
    grid-column-start: 2;
    background-color: aqua;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;

}
a.button,div.menu{
    float: left;
}
a.active{
    background-color: gray;
}
a:link, a:visited {
    color: Black;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
   a:hover, a:active {
       background-color: gray;
    
  } 
.logo{
    background-color: azure;
    text-align: center;
    padding: 5px;
    grid-row-end: auto;
    width: 100%;
}
.ammentities{
    grid-row-start: 3;
    text-align: center;
    background-color: aqua;
    grid-row-end: 4;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;

}
.templeClosure{
    background-color: aqua;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}
.Description{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: azure;
    padding: 5px;

}
.Map{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: aqua;  
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    

}
.Image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    background-color: azure;
    text-align: center;
    padding: 1px;
    height: auto;
    max-width: 550px;
    border-radius: 15%;
    /* overflow: hidden; */
        /*breaks images*/
}
.Footer{
    grid-column-start: span 3;
    text-align: center;
    padding: 5px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 25px;

}
.contact{
    grid-column-end: span 3;
    text-align: center;
    padding: 5px;

}
body{
    height:650px;
    background-color: azure;
    padding: 5px;

}
.homeslides{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
.registration{
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 175px;
    padding: 10px;
    position: fixed;
    right: 10px;
}
}