img{
    justify-content: left;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu{
    grid-column-end: span 1;
}

/* .grid div:nth-child(odd) { */
    /* background-color: red; */


/* .grid div:nth-child(even){ */
    /* background-color: blue; */
