@media only screen and (device-width: 768px) {
    /* rules for tablet */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* iPhone, Android rules here */
  }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu{
    grid-column-end: span 2;
    background-color: azure;
}
.logo{
    background-color: azure;
}
.ammentities{
    grid-row-start: 2;
}
.Description{
    grid-column-start: 2;
}
.Map{
    grid-column-start: 3;
    grid-row-start: 3;
}
.Image{
    grid-column-start: 3;
    grid-row-start: 2;
}
.Footer{
    grid-column-end: span 3;
    text-align: center;
}
.contact{
    grid-column-end: span 3;
    text-align: center;
}

