/* || general styles */
  body {
    width: 800px;
    margin: 0 auto;
  }  
  /* header styles */
  
  h1, h2 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Iceland', 'cursive';
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* body styles */

  #buttons {
      font-family: "Iceland", 'cursive';
      text-align: center;
  }