table, tr, td, th{
    border: .25px solid black;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}
tbody tr:nth-child(odd) {
    background-color: green;
}

tfoot>tr {
    background-color: #e7f0ed
}