table, tr, td, th{
    border: .25px solid black;
    text-align: center;
}

thead tr:nth-child(1){
 background-color: #7fb9c2
}
tbody th:nth-child(3){
    background-color: #628ca6;
}
tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
}
tbody tr:nth-child(even) {
    background-color: #e7ffed;
}
tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(6) td:nth-child(1) {
    font-style: italic;
}

tfoot>tr {
    background-color: #628ca6;
    
}