/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 16px;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 1900px;
    
}

h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
    color: black;
    height: 75px;
    
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Iceland', 'cursive';
/*border-bottom: 10px black;*/
    color: rgb(7, 7, 26);

}


header, main, footer {
    margin: auto;
    padding: 3rem;
    color: blue;
    font-weight: bold;
    
}

header, footer, footer a {
    text-align: center;
    background-color: grey;
    color: silver;
    
}
}
header img {
    width: 250px;
    height: auto;
    float: left;
    padding-bottom: 1cm;

}
button:hover {
    background-color: aqua;
    border: none;
    color: blue;
    
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button {
    padding: 10px, 24px;
}



footer {
    font-size: 18px;
    
}